[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-rest-auth = "*"
requests = "*"
selenium = "*"
drf-nested-routers = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.7"
